site_name: NewDB Docs
site_description: Корпоративная документация для платформы NewDB DaaS
site_url: https://avpm05.github.io/newdb_docs/
repo_url: https://github.com/avpm05/newdb_docs
repo_name: avpm05/newdb_docs

theme:
  name: material
  custom_dir: overrides
  language: ru
  custom_dir: overrides
  logo: docs/assets/logo.svg
  favicon: docs/assets/favicon.png
  features:
    - navigation.top
    - navigation.tabs
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - toc.follow
    - content.code.copy
    - content.action.edit
    - content.tooltips
    - search.suggest
    - search.highlight
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue
      accent: indigo
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue
      accent: indigo

extra_css:
  - styles/extra.css

nav:
  - Главная: index.md
  - Быстрый старт: getting-started.md
  - API: api.md
  - Контакты: contact.md
